* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100vw;
    height: 90px;
    background: #707070;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: white;
}

header > p {
    font-size: 45px;
    margin-left: 50px;
}

nav {
    display: flex;
    margin-right: 50px;
    font-size: 22px;
}

nav > p {
    margin: 0px 25px;
}

.top-div {
    height: 60vh;
    width: auto;
    background: black;
    color: #E9E05F;
    font-size: 90px;
    font-weight: bold;
    letter-spacing: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 145vh;
    width: auto; 
    background: white;
    padding: 70px 90px;
}

.green-boxes {
    display: flex;
    justify-content: space-between;
}

.square {
    height: 320px;
    width: 320px;
    background: #A1F7D7;
    border-radius: 25px;
}

.orange-boxes {    
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.rectangle {
    height: 320px;
    width: 590px;
    background: #F9C26B;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 120px 60px 90px;
}

.bottom > p {
    width: 430px;
}

footer {
    background: #3A3A56;
    height: 20vh;
    width: auto;
}